<link rel='stylesheet' href='/stylesheets/views/aboutUs.css' />
<div class="container main">
    <h2 class="text-center">关于我们</h2>
    <hr>
    <div class="margin-top-45"></div>

    <p>上书房智慧教育，是由西安樱桃谷信息技术有限公司所创建的在线教育品牌，旨在为大学生、高校、企业三方搭建产教结合的教育平台，并通过大数据及人工智能等先进技术打造数字化教育的基础设施。</p>
    <ul>
        <li>通过建立高校教学与企业需求之间的多重连接，打通教、学、练、测、评与学生就业的完成闭环</li>
        <li>通过AI双师教学、智能实践项目系统、智能作业系统全方位打造个性化教育体系，促进教、学、就业的效率最大化</li>
        <li>通过对教学过程透明化、教学质量可视化、教学服务数字化提升日常教学的管理效率</li>
        <li>利用平台优势，将众多高校、众多学生、众多企业进行网状连接，搭建技能分享、互助学习的共享型学习社区</li>
        <li>对满足企业要求的学生进行智能匹配，提升学生就业效率及质量；提升企业招聘效率、降低招聘成本</li>
    </ul>
    <div class="margin-top-45"></div>
    <h4>企业愿景</h4>
    <span>打造高校教学全链条的数字化教育基础设施</span>
    <div class="margin-top-45"></div>
    <h4>企业使命</h4>
    <span>让每一位学生通过先进的学习机制高效的掌握企业所需的实践技能，成为符合国家发展所需的实践型人才</span>
    <div class="margin-top-45"></div>
    <h4>企业价值观</h4>
    <span>实事求是、尊重规律、专注客户、服务用户、关注未来</span>
</div>