<link rel='stylesheet' href='/stylesheets/views/contactUs.css' />
<div class="container main">
    <h2 class="text-center">联系我们</h2>
    <hr>
    <div class="margin-top-45"></div>
    <h4>联系电话</h4>
    <span>18182505299</span>
    <div class="margin-top-45"></div>
    <h4>电子邮件</h4>
    <span>johnny.q.zhang@outlook.com</span>
    <div class="margin-top-45"></div>
    <h4>公司地址</h4>
    <span>西安市沣东新城和平工业园二号路12号</span>
    <div class="margin-top-45"></div>
    <h4>微信服务号</h4>
    <img src="/images/wechatcode.png" alt="" srcset="">
</div>