<link rel='stylesheet' href='/stylesheets/views/customerCooperation.css' />
<div class="container main">
    <h2 class="text-center">客户合作</h2>
    <hr>
    <div class="margin-top-45"></div>
    <h4>高校合作</h4>
    <span>我们将为您在教学与管理两方面提供以下优质服务：</span>
    <h5>教学</h5>
    <ul>
        <li>企业对人才引进的需求细则及市场各行业人才需求的大数据分析</li>
        <li>结合企业所需及教学大纲，分析热门技术及高频技术点</li>
        <li>学生学习过程成长轨迹及能力肖像</li>
        <li>基于不同学生的学习情况，分析薄弱环节并个性化制定提升方案</li>
        <li>学生当前能力与企业需求的差距分析，并对满足企业要求的学生进行智能匹配，提升就业效率及质量</li>
        <li>毕业生就业情况跟踪</li>
        <li>用人企业反馈</li>
    </ul>
    <h5>管理</h5>
    <ul>
        <li>教学过程透明化（知识点掌握情况分析，学生能力成长分析、学生发展方向分析......）</li>
        <li>教学质量可视化（本校历届学生能力对比分析、与其他高校学生能力对比分析......）</li>
        <li>教学服务数字化（学生实践能力竞赛、专业能力认证、企业联盟校园招聘......）</li>
    </ul>
    
    <div class="margin-top-45"></div>
    <h4>企业合作</h4>
    <span>我们将为您提供以下优质服务：</span>
    <ul>
        <li>众多高校学生能力分析报告，协助您更全面的了解学生的客观专业能力</li>
        <li>将贵公司对人才的要求进行数字化，通过分析平台内与贵公司要求高匹配的学生，并实时动态推动，提升企业人员招聘效率，降低人员招聘成本</li>
    </ul>

    <div class="margin-top-45"></div>
    <h4>合作电话</h4>
    <span>18182505299</span>    
    
</div>