<link rel='stylesheet' href='/stylesheets/views/index.css' />

<div class="container-fluid article1">
    <div class="row">
        <div class="col-xs-5 margin-top-15">
            <img src="/images/image1.png" class="img-responsive" alt="">
        </div>
        <div class="col-xs-7">
            <div class="row margin-top-55">
                <div class="col-xs-12 title-middle">上书房智慧教育</div>
            </div>
            <div class="row">
                <div class="col-xs-12 title-big">打造数字化教育的基础设施</div>
            </div>
            <div class="row">
                <div class="col-xs-12 title-small-zh">预见未来</div>
            </div>
            <div class="row">
                <div class="col-xs-12 title-small-en">WE BUILD A BETTER FUTRUE</div>
            </div>
            <div class="margin-top-55"></div>
            <div class="row">
                <a href="http://teacher.shangshufang.top/course/center" class="teacher-portal" target="_blank">
                    进入教师端
                </a>
                <a href="http://student.shangshufang.top/course/center" class="student-portal" target="_blank">
                    进入学生端
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid article2">
    <h2 class="text-center margin-top-55 text-gradient-1">建立高校教学与企业需求之间的多重连接， 培养适应市场所需的应用型人才</h2>
    <h5 class="text-center">Establish multiple connections between university teaching and corporate needs, Cultivate applied talents to adapt to the market</h5>
    <div class="margin-top-45"></div>
    <img src="/images/asite_left_smaller.png" class="asite_left img-responsive" alt="" srcset="">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 item">
                <div class="image">
                    <img src="/images/c1_smaller.png" class="img-responsive" alt="">
                </div>
                <div class="des text-center">
                    企业需求细则
                </div>
            </div>
            <div class="col-xs-3 item">
                <div class="image">
                    <img src="/images/c2_smaller.png" class="img-responsive" alt="">
                </div>
                <div class="des text-center">
                    热门技术及高频技术点
                </div>
            </div>
            <div class="col-xs-3 item">
                <div class="image">
                    <img src="/images/c3_smaller.png" class="img-responsive" alt="">
                </div>
                <div class="des text-center">
                    学生能力肖像
                </div>
            </div>
            <div class="col-xs-3 item" style="margin-right: 0;">
                <div class="image">
                    <img src="/images/c4_smaller.png" class="img-responsive" alt="">
                </div>
                <div class="des text-center">
                    学生能力与企业需求个性化匹配
                </div>
            </div>
        </div>
        <div class=" margin-top-30"></div>
        <div class="row">
            <div class="col-xs-3 empty">
            </div>
            <div class="col-xs-3 item">
                <div class="image">
                    <img src="/images/c5_smaller.png" class="img-responsive" alt="">
                </div>
                <div class="des text-center">
                    毕业生就业情况跟踪
                </div>
            </div>
            <div class="col-xs-3 item">
                <div class="image">
                    <img src="/images/c6_smaller.png" class="img-responsive" alt="">
                </div>
                <div class="des text-center">
                    用人企业反馈
                </div>
            </div>
            <div class="col-xs-3 empty" style="margin-right: 0;">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid article3 no-padding">
    <div class="container no-padding">
        <div class="row">
            <div class="col-xs-5">
                <img src="/images/c7_smaller.png" alt="">
                <h2>基于大数据的学情分析</h2>
                <h5>Big data analysis</h5>
                <div class="margin-top-30"></div>
                <ul>
                    <li>知识点薄弱环节识别</li>
                    <li>学生成长轨迹及能力肖像</li>
                    <li>学生能力与企业要求的差距分析</li>
                    <li>支撑教育过程决策</li>
                </ul>
            </div>
            <div class="col-xs-7">
                <img src="/images/c8_smaller.png" style="width: 80%; margin-left: 150px;" alt="">
            </div>
        </div>
    </div>
    <img src="/images/asite_right_smaller.png" class="asite_right img-responsive" alt="" srcset="">
</div>

<div class="container article4 no-padding">
    <div class="row">
        <div class="col-xs-7">
            <div class="row">
                <div class="col-xs-6 no-padding ">
                    <img src="/images/image2.png" class="image1" alt="">
                </div>
                <div class="col-xs-6">
                    <img src="/images/image3.png" class="image2" alt="">
                    <img src="/images/image4.png" class="image3" alt="">
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <img src="/images/c9_smaller.png" alt="">
            <h2>促进教与学效率最大化</h2>
            <h5>Promote the maximum efficiency</h5>
        </div>
    </div>
</div>

<div class="container article5 margin-top-55 no-padding">
    <div class="row">
        <div class="col-xs-6">
            <img src="/images/c10_smaller.png" alt="">
            <h2>支撑教学日常管理</h2>
            <h5>Support daily management of teaching</h5>
            <div class="margin-top-30"></div>
            <ul>
                <li>教学过程透明化（知识点掌握情况分析，学生能力成长分析、学生发展方向分析......） </li>
                <li>教学质量可视化（本校历届学生能力对比分析、与其他高校学生能力对比分析......） </li>
                <li>教学服务数字化（学生实践能力竞赛、专业能力认证、企业联盟校园招聘......）</li>
            </ul>
        </div>
        <div class="col-xs-6">
            <img src="/images/image5.png" class="img-responsive" alt="">
        </div>
    </div>
    <img src="/images/asite_right_2_smaller.png" class="asite_right img-responsive" alt="" srcset="">
</div>

<div class="container-fluid article6 no-padding">
    <h2 class="text-center">搭建共享型学习社区</h2>
    <h5 class="text-center">Building a shared learning community</h5>
    <div class="margin-top-55"></div>
    <h4 class="text-center">众多高校，众多学生，众多企业，以目标为导向，以大数据为基础打造知识共享型学习社区</h4>
</div>

<div class="container article7 margin-top-55 no-padding hidden">
    <div class="row">
        <div class="col-xs-5">
            <h2>部分合作企业</h2>
            <h5>Cooperative enterprise</h5>
        </div>
        <div class="col-xs-7">
            {{!-- <ul>
                <li></li>
            </ul> --}}
        </div>
    </div>
</div>