<link rel='stylesheet' href='/stylesheets/views/customerCooperation.css' />
<div class="container main">
    <h2 class="text-center">加入我们</h2>
    <hr>
    <div class="margin-top-45"></div>
    <h3>技术岗</h3>
    <hr>
    <h4>Java架构师</h4>
    <h5>岗位职责</h5>
    <ol>
        <li>平台技术框架的持续优化</li>
        <li>难点技术的攻关</li>
        <li>平台内Java技术相关的内容创建（包括知识点、随堂练习、综合练习、实战项目、在线课程录制等）并与合作企业共识</li>
    </ol>
    <h5>岗位要求</h5>
    <ol>
        <li>具备8年以上Java开发经验，参与过至少两个大型项目的框架搭建，熟练掌握Spring Boot，MyBatis等框架</li>
        <li>掌握Hadoop，HBase，Scala等大数据领域相关技术体系</li>
        <li>具有较好的沟通表达能力</li>
        <li>具备非常强的自我管理能力及创业精神</li>
        <li>有教育领域工作经验者优先</li>
    </ol>

    <div class="margin-top-45"></div>
    <h4>Python架构师</h4>
    <h5>岗位职责</h5>
    <ol>
        <li>平台技术框架的持续优化</li>
        <li>难点技术的攻关</li>
        <li>平台内Python技术相关的内容创建（包括知识点、随堂练习、综合练习、实战项目、在线课程录制等）并与合作企业共识</li>
    </ol>
    <h5>岗位要求</h5>
    <ol>
        <li>具备5年以上Python开发经验</li>
        <li>能使用Python进行网络爬虫、办公自动化、数据分析、数据计算等功能研发</li>
        <li>具有较好的沟通表达能力</li>
        <li>具备非常强的自我管理能力及创业精神</li>
        <li>有教育领域工作经验者优先</li>
    </ol>

    <div class="margin-top-45"></div>
    <h4>前端架构师</h4>
    <h5>岗位职责</h5>
    <ol>
        <li>负责平台前端功能研发</li>
        <li>熟练掌握JavaScript，TypeScript、NodeJS、VueJS、BootStrap、CSS3等前端技术</li>
        <li>前端难点技术的攻关</li>
        <li>平台内前端技术相关的内容创建（包括知识点、随堂练习、综合练习、实战项目、在线课程录制等）并与合作企业共识</li>
    </ol>
    <h5>岗位要求</h5>
    <ol>
        <li>具备5年以上前端开发经验</li>
        <li>具有较好的沟通表达能力</li>
        <li>具备非常强的自我管理能力及创业精神</li>
        <li>具有全栈研发能力者优先</li>
        <li>有教育领域工作经验者优先</li>
    </ol>
       
    
</div>