<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-3.3.7/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fluid no-padding">
      <nav class="navbar navbar-default navbar-fixed-top navbar-header no-margin">
          <div class="container" >
              <div class="row">
                  <div class="col-md-6 logo">
                      <img src="/images/logo.png" alt="">
                  </div>
                  <div class="col-md-6 entrance text-right">
                      <a href="http://teacher.shangshufang.top/course/center" target="_blank" rel="noopener noreferrer">教师端</a>
                      <a href="http://student.shangshufang.top/course/center" target="_blank" rel="noopener noreferrer">学生端</a>
                      <a href="javascript:" rel="noopener noreferrer">联系我们</a>
                  </div>
              </div>
          </div>
      </nav>
    </div>
    {{{body}}}
    <div class="container-fluid footer no-padding">
        <div class="text-center margin-top-55">
            <a href="javascript:;">关于我们</a>
            <span class="split"> | </span>
            <a href="javascript:;">联系我们</a>
            <span class="split"> | </span>
            <a href="javascript:;">客户合作</a>
            <span class="split"> | </span>
            <a href="javascript:;">加入我们</a>
        </div>
        <div class="text-center margin-top-15">
            联系电话：18182505299 © 2020 西安樱桃谷信息技术有限公司
        </div>
    </div>    
  </body>
</html>
