body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-margin {
    margin: 0;
}

.navbar-header {
    background-image: url("/images/nav_bg.png");
    background-repeat: no-repeat;
    max-width: 1680px;
    min-height: 80px;
    border-bottom-width: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-top-55 {
    margin-top: 55px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-minus-25 {
    margin-left: -25px
}

.padding-left-15 {
    padding-left: 15px;
}

.logo {
    margin-top: 13px;
}

.logo img {
    width: 350px;
}

.entrance {
    margin-top: 28px;
}

.entrance a {
    color: #ffffff;
    text-decoration: none;
}

.entrance a:not(:last-child) {
    margin-right: 15px;
}

.footer {
    background-color: #f4f4f4;
    color: #7d7c7c;
    height: 145px;
    margin-top: 60px;
}

.footer a {
    text-decoration: none;
    color: #7d7c7c;
    padding: 8px;
}